.root {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  gap: 2px;
  padding: 16px 8px;
  font-family: monospace;
  font-size: 20px;
  line-height: 1;
  color: #8e44ad;

  @media (max-width: 424px) {
    top: 58px
  }
}
