.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 8px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (min-width: 768px) {
    max-width: 640px;
  }
}

.cell {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.info {
  display: flex;
  align-items: stretch;
  min-width: 132px;

  .infoLabel, .infoValue {
    display: grid;
    place-items: center;
    border: 2px solid #16a085;
  }

  .infoLabel {
    padding: 8px;
    width: 100%;
    color: white;
    background-color: #16a085;
    border-radius: 8px 0 0 8px;
  }

  .infoValue {
    padding: 4px;
    min-width: 38px;
    font-family: monospace;
    font-size: 20px;
    color: #16a085;
    border-radius: 0 8px 8px 0;
  }

  &.infoAlt {
    .infoLabel {
      background-color: #c0392b;
      border-color: #c0392b;
    }

    .infoValue {
      color: #c0392b;
      border-color: #c0392b;
    }
  }
}

.btn {
  padding: 2px;
  min-width: 42px;
  font-family: monospace;
  font-weight: 700;
  color: white;
  background-color: #2980b9;
  border: 2px solid #2980b9;
  border-radius: 8px;
  aspect-ratio: 1;
  cursor: pointer;
  transition: background-color .2s, border-color .2s;

  &:disabled {
    color: #2980b9;
    background-color: white;
    pointer-events: none;
  }

  @media (hover) {
    &:hover, &:focus-visible {
      background-color: #1f618d;
      border-color: #1f618d;
    }
  }
}
