.root {
  position: fixed;
  top: 4px;
  left: 8px;
  right: 8px;
  z-index: 1;
  padding: 16px 8px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 0 3px #b2b2b2;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (min-width: 1024px) {
    max-width: 1024px;
  }
}

.cell {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  &.gap {
    gap: 12px;

    @media (min-width: 768px) {
      gap: 16px;
    }
  }
}

.info {
  display: flex;
  align-items: stretch;

  @media (min-width: 768px) {
    min-width: 132px;
  }

  .infoLabel, .infoValue {
    display: grid;
    place-items: center;
    border: 3px solid #16a085;

    @media (min-width: 768px) {
      border-width: 2px;
    }
  }

  .infoLabel {
    display: none;
    padding: 4px 8px;
    width: 100%;
    color: white;
    background-color: #16a085;
    border-radius: 8px 0 0 8px;

    @media (min-width: 768px) {
      display: inline-block;
    }
  }

  .infoValue {
    padding: 4px;
    min-width: 38px;
    font-family: monospace;
    font-size: 20px;
    color: #16a085;
    border-radius: 8px;

    @media (min-width: 768px) {
      border-radius: 0 8px 8px 0;
    }
  }

  &.infoAlt {
    .infoLabel {
      background-color: #c0392b;
      border-color: #c0392b;
    }

    .infoValue {
      color: #c0392b;
      border-color: #c0392b;
    }
  }
}

.menuWrap {
  position: relative;
}

.resetBtn,
.menuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px;
  font-weight: 700;
  color: #ffffff;
  //background-color: #27ae60;
  background-color: tomato;
  //border: 1px solid #27ae60;
  border: 1px solid tomato;
  border-radius: 8px;
  //box-shadow: 0 2px 0 3px #16a085;
  box-shadow: 0 2px 0 3px #ba4a00;
  cursor: pointer;
  transition: color .2s, background-color .2s, box-shadow .2s;

  @media (min-width: 768px) {
    padding: 6px 12px;
  }

  @media (hover) {
    &:hover, &:focus-visible {
      //color: #27ae60;
      color: tomato;
      background-color: #ffffff;
      //box-shadow: 0 1px 0 1px #27ae60;
      box-shadow: 0 1px 0 1px tomato;

      svg path {
        fill: tomato;
      }
    }
  }

  span {
    display: none;

    @media (min-width: 768px) {
      display: inline-block;
    }
  }

  svg path {
    fill: #ffffff;
    transition: fill .2s;
  }
}

.menuBtn {
  background-color: #2980b9;
  border: 1px solid #2980b9;
  box-shadow: 0 2px 0 3px #216293;

  @media (hover) {
    &:hover, &:focus-visible {
      color: #2980b9;
      background-color: #ffffff;
      box-shadow: 0 1px 0 1px #2980b9;

      svg path {
        fill: #2980b9;
      }
    }
  }
}

.menu {
  position: absolute;
  top: 46px;
  right: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 0 3px #b2b2b2;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s, visibility .2s;

  @media (min-width: 768px) {
    top: 52px;
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.btn {
  padding: 2px;
  min-width: 42px;
  font-family: monospace;
  font-weight: 700;
  color: #2980b9;
  background-color: white;
  border: 1px solid #2980b9;
  border-radius: 8px;
  box-shadow: 0 2px 0 2px #2980b9;
  aspect-ratio: 1;
  cursor: pointer;
  transition: color .2s, background-color .2s, box-shadow .2s;

  &:disabled {
    color: white;
    background-color: #2980b9;
    box-shadow: none;
    pointer-events: none;
  }

  @media (hover) {
    &:hover, &:focus-visible {
      color: white;
      background-color: #2980b9;
      box-shadow: 0 1px 0 1px #2980b9;
    }
  }
}
