.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  min-height: 100vh;
  font-family: sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 6px 14px;
  color: white;
  background-color: #2980B9;
  border: 2px solid #2980B9;
  border-radius: 8px;
  cursor: pointer;
  transition: transform .2s, background-color .2s, border-color .2s;

  &:disabled {
    color: #2980B9;
    background-color: white;
    pointer-events: none;
  }

  @media (hover) {
    &:hover, &:focus-visible {
      transform: scale(1.06);
      background-color: #1F618D;
      border-color: #1F618D;
    }
  }
}

.score {
  display: flex;
  align-items: center;

  b {
    padding: 8px 8px 8px 12px;
    color: white;
    background-color: #16A085;
    border: 2px solid #16A085;
    border-radius: 8px 0 0 8px;
  }

  span {
    padding: 8px 12px 8px 12px;
    font-weight: 600;
    color: #16A085;
    border: 2px solid #16A085;
    border-radius: 0 8px 8px 0;
  }

  &:last-child {
    b {
      background-color: #C0392B;
      border-color: #C0392B;
    }

    span {
      color: #C0392B;
      border-color: #C0392B;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  gap: 8px;
}

.card {
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  font-size: 32px;
  color: #2C3E50;
  background-color: #8FBC8F;
  border: 2px solid #2C3E50;
  border-radius: 8px;
  transition: background-color .2s linear, transform .2s linear;
  cursor: pointer;

  @media (hover) {
    &:hover, &:focus-visible {
      transform: scale(1.06);
    }
  }

  &:disabled {
    color: white;
    background-color: plum;
    transform: perspective(100px) rotateY(180deg);
    pointer-events: none;
  }

  span {
    font-size: 56px;
    transform: scaleX(-1);
  }
}

.dialog {
  position: absolute;
  padding: 32px 56px;
  text-align: center;
  border: 3px solid indigo;
  border-radius: 8px;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.dialogTitle {
  color: indigo;
}

.dialogBtn {
  padding: 12px 16px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: tomato;
  border: 3px solid tomato;
  border-radius: 8px;
  cursor: pointer;
  transition: color .2s, background-color .2s;

  @media (hover) {
    &:hover, &:focus-visible {
      color: tomato;
      background-color: white;
    }
  }
}
